.errorDiv{
	border-color:red;
	border-style:solid;	
	border-width:1px;
	background-color:#ffbad2;
	display:none;
}
.details{
	font-size:.8em;
	color:light-gray;
}
/* custom icons */
.footnav .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.footnav .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
.ui-icon-beer { background:  url(icons/beer.png) 50% 50% no-repeat;}
.ui-icon-group { background:  url(icons/group.png) 50% 50% no-repeat;}
.ui-icon-user { background:  url(icons/user.png) 50% 50% no-repeat;}

#footer{
	position:absolute; z-index:2;
	bottom:0; left:0;
	width:100%;
}
#mainPage {
	position:absolute; z-index:1;
	top:40px; bottom:60px; left:0;
	width:91%;
	overflow:auto;
}
#mainGamePage {
	padding-top:10px;
	position:absolute; z-index:1;
	top:40px; bottom:0px; left:0;
	width:91%;
	overflow:auto;
	padding:0px;
	height:100%;
}
.maxHeight{
	height:100%;
}
.overflow{
	text-overflow:visble;
}
.center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.shotbg{
	background-color:#696969;
}