.errorDiv{
	border-color:red;
	border-style:solid;	
	border-width:1px;
	background-color:#ffbad2;
	display:none;
}
.details{
	font-size:.8em;
	color:light-gray;
}
/* custom icons */
.footnav .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.footnav .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
.ui-icon-beer { background:  url(icons/beer.png) 50% 50% no-repeat;}
.ui-icon-group { background:  url(icons/group.png) 50% 50% no-repeat;}
.ui-icon-user { background:  url(icons/user.png) 50% 50% no-repeat;}

#footer{
	position:absolute; z-index:2;
	bottom:0; left:0;
	width:100%;
}
#mainPage {
	position:absolute; z-index:1;
	top:40px; bottom:60px; left:0;
	width:91%;
	overflow:auto;
}
#mainGamePage {
	padding-top:10px;
	position:absolute; z-index:1;
	top:40px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
	padding:0px;
	height:100%;
}
.maxHeight{
	height:100%;
}
.overflow{
	white-space: normal;
	text-overflow:visble;
}
.center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.right{
	text-align:right;
	float:right;
}
.left{
	text-align:left;
	float:left;
}
.shotbg{
	background-color:#696969;
}
h3{
	margin:0px;
	padding:0px;
}
#loader{
	height:20px;
	float:right;
	padding:8px 80px 0px 0px;
	margin:0px;
	display:none;
}
#gameDiv{
	height:100%;
	min-height:100%;
}
 .cupHit{
 	font-size:2em;
 }
 .playerimage{
  	height:80px;
  	padding-top:15px;
  	margin-left:auto;
  	margin-right:auto;
  }
.teamStartDiv{
	font-size:.7em;
}
 .circle{
    height:50px;
    width:50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
.aPlayer{
	padding:7px;
}
.aPlayer,.right{
	padding-right:7px;
}
.aPlayer,.left{
	padding-left:7px;
}
#teamPickers{
	display:none;
}
.tinyImg{
	height:25px;
	width:25px;
}
#teamName{
	padding-top:2px;
	padding-bottom:0px;
	margin:0px;
}​